<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="ConnectAndExportCsv.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.6.1" />
    </startup>
    <userSettings>
        <ConnectAndExportCsv.Properties.Settings>
            <setting name="initial" serializeAs="String">
                <value>PPAdmin</value>
            </setting>
            <setting name="entry" serializeAs="String">
                <value>#36Ga7ee!</value>
            </setting>
            <setting name="fcguid" serializeAs="String">
                <value>33be4941-b026-4928-830a-dc0a19afe14f</value>
            </setting>
            <setting name="exportpath" serializeAs="String">
                <value>C:\\Docuware Project\\Import-{0:yyyy-MM-dd_hh-mm-ss-tt}.csv</value>
            </setting>
            <setting name="org" serializeAs="String">
                <value>Pacific Packaging Products, Inc.</value>
            </setting>
        </ConnectAndExportCsv.Properties.Settings>
    </userSettings>
</configuration>